body{
    color: black;
    font-family: 'Indie Flower', cursive;
    background-size: 100%;

}

#wallpaper{
    margin:-10px;
    position: absolute;
    width:100%;
    height:100%;
}

#title{
    position: absolute;
    z-index: 999;
    text-shadow: #FEEABA 0.5px 0.5px, #FEEABA  -0.5px 0.5px, #FEEABA  -0.5px -0.5px, #FEEABA  0.5px -0.5px; 
    font-size: 1.5em;
}

nav{
    position: absolute;
    background-color: #FEEABA;
    margin: -10px;
    margin-left: 1100px;
    width: 210px;
    -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius: 0 0 30px 30px;
    
}

ul li{
    margin-left: -10px;
    padding:5px;
    list-style-type: none; 
}

nav a{
    color: black;
    text-decoration: none; /* pour quitter le surlignage */
    text-shadow: black 0.3px 0.3px, black -0.3px 0.3px, black -0.3px -0.3px, black 0.3px -0.3px; 
}